<html>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
  />
  <head>
    <style>
      header {
        width: 100%;
        text-align: center;
        box-sizing: border-box;
      }
      td,
      th {
        font-family: 'PingFangHK', Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 24px;
        margin: 0 auto;
        padding: 8px;
      }
      body {
        background-color: #ffff;
        padding: 16;
      }
    </style>
  </head>
  <body>
    <header>
      <table
        cellspacing="0"
        cellpadding="0"
        style="padding: 2px;margin: 0 auto;background-color: #F9F9F9;padding-bottom: 0;top: 16px;"
        width="600px"
      >
        <tbody style="background-color: #ffffff;">
          <tr>
            <td align="left">
              <img
                src="<%=data.logoUrl%>"
                style="display: -webkit-box;margin: 0 16px;padding: 8 0px 8 0px; height: 80px;"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </header>
  </body>
</html>
