<!DOCTYPE html>
<html>

<head>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <meta charset="utf8" />
  <title>
    <%=data.orderNo %>
  </title>
  <style>
    .container-panle {
      width: 100%;
    }

    #containerPdf {
      width: calc(100% - 120px);
      color: #006838;
      font-size: 14px;
      line-height: 20px;
      padding: 0px 60px;
      margin-top: 50px;
      margin: 0 auto !important;
      background-color: #fff;
    }

    .fontHk {
      font-family: DFYuanMedium-B5;
    }

    .fontEn {
      font-family: Helvetica;
    }
  </style>
</head>

<body>
  <div class="container-panle">
    <div>
      <div id="containerPdf">
        <div style="width: 100%;">
          <div style="text-align: center;padding-bottom: 20px;">
            <div style="
                  font-size: 36px;
                  line-height: 42px;
                  font-family: DFYuanMedium-B5;
                  font-weight: normal;
                  color: #009345;
                ">家長須知</div>
            <span style="
                font-size: 36px;
                line-height: 42px;
                font-family: Helvetica;
                font-weight: bold;
                color: #009345;
              ">Notes to Parents</span>
          </div>
        </div>

        <div style="padding:0 9% 0 9%">
          <div class="fontHk" style="line-height: 24px; text-decoration:underline;">請假安排<span
              style="font-family: Helvetica-Bold, Helvetica; font-weight: bold;"> Absence Arrangement</span></div>
          <div class="fontHk">
            如須請假，家長請於上課前
            <span style="color: #ed1c24; text-decoration:underline;">最少<span style="
                  font-family: Helvetica-Bold, Helvetica;
                  font-weight: bold;
                ">24&nbsp;</span>小時</span>
            通知我們，否則將不獲補堂。
          </div>
          <div class="fontEn">
            Students are required to apply for leave at least 24 hours before
            the lesson. Otherwise, no make-up lesson shall be arranged.
          </div>
          <div class="fontHk">
            如無特殊理由，若學生未能於指定時間出席補堂，有關補堂將不會另作安排。
          </div>
          <div class="fontEn">
            If students are absent from a scheduled make-up lesson, no further
            make-up shall be arranged.
          </div>
          <div class="fontHk">
            一般情況下，每報讀<span class="fontEn">8</span>堂可安排補堂<span class="fontEn">1</span>次。
          </div>
          <div class="fontEn">
            Under normal circumstances, students are eligible for ONE make-up
            lesson per 8 lessons enrolled.
          </div>
          <br />
          <div class="fontHk" style="text-decoration:underline;">
            改堂安排<span class="fontEn">(</span>更改上課時間<span class="fontEn">)</span><span
              style="font-family: Helvetica-Bold, Helvetica; font-weight: bold;"> Change of Class Schedule</span>
          </div>
          <div class="fontHk">
            所有調堂申請，請務必於上課前
            <span style="color: #ed1c24; text-decoration:underline;">最少<span style="
                  font-family: Helvetica-Bold, Helvetica;
                  font-weight: bold;
                ">24&nbsp;</span>小時</span>提出，一經確定不再作改動。
          </div>
          <div class="fontEn">
            A request must be raised at least 24 hours before the lesson. Once the
            make-up lesson has been confirmed,no further changes shall be
            arranged.
          </div>

          <div class="fontHk">
            一般情況下，每報讀<span class="fontEn">8&nbsp;</span>堂可安排改堂<span class="fontEn">1</span>次，所有課堂時間均為先到先得。
          </div>
          <div class="fontEn">
            Under normal circumstances, students may change their lesson time
            once per 8 lessons enrolled.Timeslots are allocated on a first come
            first served basis.
          </div>
          <br />

          <div class="fontHk" style="text-decoration:underline;">
            繳費安排<span style="font-family: Helvetica-Bold, Helvetica; font-weight: bold;"> Payment Arrangement</span>
          </div>
          <div class="fontHk">
            學生須於<span style="color: #ed1c24;text-decoration:underline;">每期最後一堂或之前</span>繳付下一期的學費，以保留學席。
          </div>
          <div class="fontHk">
            否則，本校有可能將學位轉讓其他學生而不另作通知。
          </div>
          <div class="fontEn">
            Students are required to pay the tuition fee for next term before
            the last lesson of each term. Otherwise,Dr I-Kids Online reserves
            the right to give the place for another student.
          </div>
          <br />

          <div class="fontHk" style="text-decoration:underline;">
            其他注意事項<span style="font-family: Helvetica-Bold, Helvetica; font-weight: bold;"> Other Points to Note</span>
          </div>
          <div class="fontHk">
            如導師因要事請假，校方將盡量安排另一導師代課。
          </div>
          <div class="fontEn">
            In case of teache's leave, Dr I-Kids Online will try to arrange for
            substitution.
          </div>
          <div class="fontHk">
            本校有權拍攝或錄影課堂情況，並使用有關的相片或短片作教學檢討或宣傳之用。如家長介意，請預早通知。
          </div>

          <div class="fontEn">
            Classes are recorded and may be used for promotional purposes.
            Please inform us in advance if you have any concerns.
          </div>

          <div class="fontHk">
            本校保留一切有關課堂安排或更換授課導師之權利。
          </div>
          <div class="fontEn">
            Dr I-Kids Online reserves the right to make changes to classes and
            teachers as deemed necessary.
          </div>

          <div class="fontHk">
            本校保留隨時修訂課程優惠之條款及本須知之細則的最終權利，而不作另行通告。
          </div>
          <div class="fontEn">
            Any matter or dispute regarding the promotion or the terms and
            conditions herein will be subject to the final decision of Dr I-Kids
            Online.
          </div>
        </div>

      </div>
    </div>
</body>

</html>