.widget_imageRight_editor_style {
  display: flex;
}
.widget_imageRight_editor_style .wrapper_left {
  width: 50%;
  padding-top: 33px;
}
.widget_imageRight_editor_style .title {
  color: #21ab37;
  font-size: 24px;
  font-family: 'PingFang SC';
  margin: 0;
  padding: 0;
  line-height: 25px;
}
.widget_imageRight_editor_style .content {
  font-size: 16px;
  color: #333333;
  font-family: PingFang SC;
  text-align: justify;
  font-weight: 400;
  line-height: 25px;
}
.widget_imageRight_editor_style .image_wrapper {
  height: 14.8rem;
  background-color: #fff;
  border: 1px solid rgba(230, 230, 230, 1);
  display: flex;
  margin-top: 1.5rem;
  text-align: center;
  align-items: center;
}
.widget_imageRight_editor_style .image_wrapper_flex {
  flex: 1;
}
.widget_imageRight_editor_style .wrapper_right {
  width: 50%;
  text-align: center;
}
.widget_imageRight_editor_style .wrapper_right_mobile_image {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}
